@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title:</h1>
    <h2>NorthWest Group</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Project team member:</h3>
    </header>
    <p>
        <span class="label">Ming Yuan Yang</span>
        <span>x12117137</span>
    </p>
    <p>
        <span class="label">Paul McDOnnell</span>
        <span>x13119516</span>
    </p>
    <p>
        <span class="label">Michael Moran</span>
        <span>x13117301</span>
    </p>
    <p>
        <span class="label">Maire Kavanagh</span>
        <span>x13117785</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Ming Yuan Yang:</span>
        <span><a href="mailto:mingyuan7725@gmail.com">mingyuan7725@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Paul McDOnnell:</span>
        <span><a href="mailto:paul.mcdonell@student.ncirl.ie">paul.mcdonell@student.ncirl.ie</a></span>
    </p>
    <p>
        <span class="label">Michael Moran:</span>
        <span><a href="mailto:michael.moran@student.ncirl.ie">michael.moran@student.ncirl.ie</a></span>
    </p>
    <p>
        <span class="label">Maire Kavanagh:</span>
        <span><a href="mailto:maire.kavanagh@student.ncirl.ie">maire.kavanagh@student.ncirl.ie</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        National College of Ireland<br />
        Mayor Street, Dublin 2 Ireland
    </p>
</section>