@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>Enterprise Framework Project</h2>
            </hgroup>
            <p>
               This project is an online shopping clothes store system; it is designed as a framework for multiple 
                clothes store’s website, it has limited but common functions/features which can suit most clothes store business.
            </p>
        </div>
    </section>
}
<h3>Three functions were built for the framework:</h3>
<ol class="round">
    <li class="one">
        <h5>Online shopping and check out:</h5>
        The Internet users type the URL in the browser to view all the items 
        which are on sale in the store, all the items can be sorted by category, i.e. jacket, trousers etc. if 
        the users would like to purchase an item, they can just simply click “add to cart” button, then the item 
        can be added to the shopping cart, more items can be added to the shopping cart, also can be removed from 
        the shopping cart. The shopping cart can be emptied as well. Once the shopping complete, click the “check out” 
        button then the users will be redirected to the shipping page, so they can leave receiver’s name, address, mobile 
        No. etc. through the web form. Once the user click “Complete order” the whole process will be finished.
    </li>

    <li class="two">
        <h5>Login:</h5>
        There are two types of login for this project, Customers can get login through registration, only logged in users can 
        complete the shopping process. Website admin need login to the site to do the product table maintenance, but for the security
        reason, Admin login only can be setted by the DB administrator.
    </li>

    <li class="three">
        <h5>Admin maintains the products/items:</h5>
        Once the website admin enter the correct user name and password, 
        they will be redirected to the admin page. So they can do the product maintenance, i.e. delete
         an item, add new items, change the price etc.
    </li>
</ol>
