@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About the app</h2>

<br /> <br />
<h4>This is Admin page!</h4>
<br /><br />
<p>This application's login has two roles -- user and admin.</p>
<br />
<p>Anyone get the login through register will become the role of user automaticly, 
   there is no way to get admin login through registration</p>
<br />
<p>
    More admin login can be setted, please contact NorthWest group.
</p>

